{
  "DiscourseUrl": "",
  "DiscourseWebhookSecret": "",
  "MattermostWebhookUrl": "",
  "MattermostBotChannel": "",
  "MatthermostBotName": "",
  "MattermostBotImage": "",
  "MattermostIgnoredTopicTitles": [ ],
  "MattermostIgnorePrivateMessages": true
}