{
  "DiscourseConfig": {
    "Secret": "mysecretpassword1",
    "IgnoredTopicTitles": [ "Welcome!", "Backup completed successfully" ],
    "IgnorePrivateMessages": true,
    "MattermostConfig": {
      "WebhookUrl": "https://mattermostserver.com/hooks/asdasdasd",
      "Channel": "atests",
      "Username": "Adam's Test Bot",
      "IconUrl": "https://avatars1.githubusercontent.com/u/3220138"
    }
  },
  "GithubConfig": {
    "Secret": "thisismysecret",
    "DefaultMattermostConfig": {
      "WebhookUrl": "https://mattermostever.com/hooks/adasdasdasd",
      "Channel": "atests",
      "Username": "Adam's Test Github Bot",
      "IconUrl": "https://assets.pi-hole.net/Variants/Logo%20only/GitHubBot.png"
    },
    "RepoList": [
      {
        "RepoName": "pi-hole/pi-hole",
        "MattermostConfig": {
          "Channel": "adamtests",
          "Username": "altBot"
        }
      },
      {
        "RepoName": "pi-hole/testRepo"
      },
      {
        "RepoName": "PromoFaux/TestRepo",
        "MattermostConfig": {
          "Username": "ADAMS REPO BOT"
        }
      }
    ]

  },
  "DockerHubConfig": {
    "LogOnlyErrors": false, 
    "DefaultMattermostConfig": {
      "WebhookUrl": "https://mattermostserver.com/hooks/asdasdasd",
      "Username": "Docker Hub"
    },
    "RepoList": [
      {
        "RepoName": "promofaux/TestRepo",
        "MattermostConfig": {
          "Channel": "atests"
        }
      }
    ]
  }
}